@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-brand-red {
    background-color: #DC2626;
  }

  .text-brand-red {
    color: #DC2626;
  }
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-merriweather: 'Merriweather', serif;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
}